.set-info{
	display: inline-flex;
	text-align: center;
	width: 100%;
	font-size: 48px;
	overflow-wrap: break-word;
}
.player1-info{
	float: left;
	width: calc(100%/3);
}
.player1-pronouns{
	font-size:28px;
}
.score{
	display: inline-block;
	width: calc(100%/3);
	margin-top: 0%;
	font-size: 72pt;
}
.player1-score{
	display: inline-block;
}
.player2-score{
	display: inline-block;
}
.player2-info{
	width: calc(100%/3);
	float: right;
}
.player2-pronouns{
	font-size:28px;
}
.score-button{
	font-size: 18pt;
	width: 25%;
	height: 75px;
}
.bracket-location{
	display: block;
	font-size: 38px;
	margin-bottom: 10%;
}
.ui-button.resetButton{
	display: block;
	margin: auto;
	margin-top: -120px;
	font-size: 18px;
	background: #df5436;
}
.swap{
	position:relative;
	padding-bottom: 15px;
}
