	.set-info{
		display: inline-flex;
		text-align: center;
		width: 100%;
		font-size: 48px;
		overflow-wrap: break-word;
	}
	.player1-info{
		float: left;
		width: calc(100%/3);

	}
	.score{
		display: inline-block;
		width: calc(100%/3);
		margin-top: 0%;
		font-size: 72pt;
	}
	.player1-score{
		display: inline-block;
	}
	.player2-score{
		display: inline-block;
	}
	.player2-info{
		width: calc(100%/3);
		float: right;

	}
	.score-button{
		font-size: 18pt;
		width: 25%;
		height: 75px;
	}
	.bracket-location{
		display: block;
		font-size: 38px;
		margin-bottom: 10%;
	}